@import '~src/assets/variables'

$phone: 640px
$tablet: 768px
$desktop: 1024px


.content-container
  font-family: 'Barlow Semi Condensed', sans-serif
  .scoreboard-header
    color: white
    border: $header-outline solid
    border-radius: 25px
    display: flex
    justify-content: space-between
    padding: 10px
    width: 60%
    font-weight: bold
    top: 15%
    @media (max-width: $phone)
      width: 90%
      padding: unset
    .title
      margin: 30px
      font-size: 40px
      @media (max-width: $phone)
        margin: 20px 10px 10px
    .score
      letter-spacing: 1.5px
      font-weight: bold
      background-color: white
      margin: 10px
      font-size: 18px
      color: $score-text
      padding: 15px 30px
      border-radius: 15px
      display: flex
      justify-content: center
      align-content: center
      flex-direction: column
      text-align: center
      width: 100px
      @media (max-width: $phone)
        padding: 20px 10px
      .score-number
        margin-top: 10px
        color: $dark-text
        font-size: 70px
        font-weight: bold

  .content-container
    top: 50%
    margin-top: 85pt

    .border-gradient
      //border: 20px solid


    .icon-container
      display: flex
      justify-content: center
      align-items: center

    .circle
      width: 125px
      height: 125px
      border-radius: 50%
      border-image-slice: 1
      border: 30px solid
      background-color: white

      @media (max-width: $phone)
        width: 100px
        height: 100px

    .paper
      left: 10%
      border: 30px solid hsl(230, 89%, 62%)
      box-shadow: 0px 10px 0px 1px hsl(240, 89%, 62%)

    .scissors
      left: 90%
      border: 30px solid hsl(39, 89%, 49%)
      box-shadow: 0px 10px 0px 1px hsl(36, 89%, 62%)


    .rock
      top: 75%
      border: 30px solid hsl(349, 71%, 52%)
      box-shadow: 0px 10px 0px 1px hsl(353, 89%, 62%)




  .centered
    position: fixed
    left: 50%
    transform: translate(-50%, -50%)

  .footer
    letter-spacing: 2px
    position: fixed
    right: 25px
    bottom: 25px
    width: 150px
    height: 45px
    color: white
    text-align: center
    border: $header-outline solid
    border-radius: 12px
    display: flex
    justify-content: center
    align-content: center
    flex-direction: column
    font-weight: bold
