@import '~src/assets/variables'

.content-container
  font-family: 'Barlow Semi Condensed', sans-serif
  .scoreboard-header
    color: white
    border: $header-outline solid
    border-radius: 10px
    display: flex
    justify-content: space-between
    padding: 10px
    width: 60%
    font-weight: bold
    top: 15%
    @media (max-width: $phone)
      width: 90%
      padding: unset
      top: 10%
    .title
      margin: 30px
      font-size: 40px
      @media (max-width: $phone)
        margin: 20px 10px 10px
        img
          width: 130px
          height: 75px
    .score
      letter-spacing: 1.5px
      font-weight: bold
      background-color: white
      margin: 10px
      font-size: 18px
      color: $score-text
      padding: 15px 30px
      border-radius: 5px
      display: flex
      justify-content: center
      align-content: center
      flex-direction: column
      text-align: center
      width: 100px
      @media (max-width: $phone)
        padding: 15px 5px
      .score-number
        margin-top: 10px
        color: $dark-text
        font-size: 70px
        font-weight: bold
        @media (max-width: $phone)
          font-size: 50px
          margin-top: unset

  .centered
    position: fixed
    left: 50%
    transform: translate(-50%, -50%)

  .footer
    letter-spacing: 2px
    position: fixed
    @media (max-width: $phone)
      right: 30%
    right: 25px
    bottom: 25px
    width: 150px
    height: 45px
    color: white
    text-align: center
    border: $header-outline solid
    border-radius: 12px
    display: flex
    justify-content: center
    align-content: center
    flex-direction: column
    font-weight: bold
